body, html {
	height: 100% auto;
	background-color: rgba(0,0,0,0.8);
}

/* bootstrap custom */
.container {
	margin-bottom: 25px;
	
}

.navbar-right {
   padding-right: 15px;
}


/*Custom CSS*/

.center-div {
	background-color: rgba(0,0,0,0.8);
	margin-top: 30px;
	padding: 10px 20px 20px 20px;
	color: #fff;
	border-radius: 10px;
	min-height: 300px;
	margin-bottom: 50px;
}


.error-message {
	margin: 0 auto;
	color: red;
	font-size: 19px;
	text-align: center;
	padding: 5px;
	background-color: black;
	border: 2px solid red;
}

.ok-message {
	margin: 0 auto;
	color: #1aff1a;
	font-size: 19px;
	text-align: center;
	padding: 5px;
}

.error-message-div {
	color: red;
	background-color: rgba(0,0,0,0.8);
	margin: 0 auto;
	min-width: 350px;
	padding: 20px 30px 30px 20px;
	border-radius: 10px;
	text-align: center;

}

.success-message-div {
	color: green;
	background-color: rgba(0,0,0,0.8);
	margin: 0 auto;
	min-width: 350px;
	padding: 20px 30px 30px 20px;
	border-radius: 10px;
	text-align: center;

}

.reg-success {
	color: #1aff1a;
	text-align: center;
}
.reg-success-link {
	text-align: center;
}

.announcements {
	background-color: rgba(0,0,0,0.8);
	margin-top: 30px;
	padding: 10px 10px 10px 10px;
	color: #fff;
	border-radius: 10px;
	font-size: 20px;
	height: 290px;
	margin-bottom: 50px;
}

.announcements > marquee {
	
	height: 250px;
	text-align: center;
	
}

.login-div {
	background-color: rgba(0,0,0,0.8);
	margin-top: 30px;
	padding: 20px 20px 20px 20px;
	color: #fff;
	border-radius: 10px;
	font-size: 15px;
	height: 290px;
	margin-bottom: 50px;
	overflow: auto;
	
}

.login_form {
	
	height: 250px;
	
}

#user-position {
	
	position: absolute;
	right: 5px;
	font-weight: bold;
	
}


input, select, textarea{
	color: #000000;
}

.white-text {
	color: #ffffff;
	text-shadow: 4px 4px 10px black;
}
.white-text:hover {
	color: #ffffff;
	text-shadow: 4px 4px 10px black;
	text-decoration: none;
	
}

.link-text {
	color: white;
	text-shadow: 4px 4px 15px black;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: underline;
}

.input-width {
	max-width: auto;
	min-width: 100px;
}
.date-picker {
	width: auto !important;
}

.dropdown-menu > li > a:hover {

	background-color: #3D3D5C;
	
}

.sub-menu1 {
	list-style: none;
}

.dropdown-menu a, .dropdown-menu{
    color: #000 !important;
}

@media(max-width: 767px) {
.default .navbar-nav .open .dropdown-menu > li > a 
    color: #333 !important;
}

/*
@media print {
  body * {
    visibility: hidden;
  }
  #printable, #printable * {
    visibility: visible;
  }
  #printable {
    position: absolute;
    left: 0;
    top: 0;
  }
}
*/

.print-div {
	background-color: rgba(0,0,0,0.8);
	margin-top: 30px;
	padding: 20px;
	color: #fff;
	border-radius: 10px;
	margin-bottom: 50px;
}

.footer {
	
	text-align: center;
	margin: 0;
	width: 100%;
	color: white;
	padding: 10px;
	position: fixed;
	bottom: 0px;
	background-color: rgba(0,0,0,2);
	border-top: 2px solid gray;
	
}

/* Solution for Overlapping Dropdown */

.navbar .nav > li {
z-index: 10000;
}

/* Highlight Color  */
::-moz-selection {
    color: white;
    background: purple;
}

::selection {
    color: white;
    background: purple;
}

.glyphicon .glyphicon-home {
	font-size: 45px;
}