
/*Custom CSS*/

.admin-menu {
	background-color: rgba(0,0,0,0.8);
	border-radius: 5px;
	padding: 10px;	
}

.center-div {
	color: #ffffff;
	background-color: rgba(0,0,0,0.8);
	margin-top:50px;
	min-width: 350px;
	min-height: 350px;
	padding: 5px 30px 20px 30px;
	border-radius: 10px;
	margin-bottom: 50px;
}

.error-message {
	margin: 0 auto;
	color: red;
	font-size: 12px;
	text-align: center;
	padding: 3px;
	background-color: black;
	border: 2px solid red;
}

.ok-message {
	margin: 0 auto;
	color: lightgreen;
	font-size: 19px;
	text-align: center;
	padding: 5px;
}

.error-message-div {
	color: red;
	background-color: rgba(0,0,0,0.8);
	margin: 0 auto;
	min-width: 350px;
	padding: 20px 30px 30px 20px;
	border-radius: 10px;
	text-align: center;

}

.success-message-div {
	color: #1aff1a;
	background-color: rgba(0,0,0,0.8);
	margin: 0 auto;
	min-width: 350px;
	padding: 20px 30px 30px 20px;
	border-radius: 10px;
	text-align: center;

}

.no-bullet {
	list-style-type: none;
}

.announcements {
	background-color: rgba(0,0,0,0.3);
	padding: 10px 10px 10px 10px;
	color: white;
	border-radius: 5px;
	font-size: 30px;
}

.info-message {
	
	margin: 0px auto;
	border: 1px solid #0088ff;
	background-color: #0033aa;
	padding: 5px;
	color: #ffffff;
	text-align: center;
	font-size: 20px;
	border-radius: 5px;
}

input, select, textarea{
	color: #000000;
}

textarea {
	
	width: 100%;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	
}

.textarea-div {
	color: #ffffff;
	background-color: rgba(0,0,0,0.8);
	margin-top:50px;
	min-width: 350px;
	padding: 5px 30px 20px 30px;
	border-radius: 10px;
	margin-bottom: 50px;
	
}

.white-text {
	color: #ffffff;
	text-shadow: 4px 4px 10px black;
}

.link-text {
	color: white;
	text-shadow: 4px 4px 15px black;
	padding-left: 5px;
	padding-right: 5px;
	text-decoration: underline;
}

.input-width {
	width: 310px;
	min-width: 100px;
}

.dropdown-menu > li > a:hover {

	background-color: #3D3D5C;
	
}

#user-position {
	
	position: absolute;
	right: 5px;
	font-weight: bold;
	
}

.scroll {
	
	height: ;
	overflow: auto;
	
}


.messages{
	background-color: rgba(0,0,0,0.8);
	margin-top: 20px;
	padding: 20px;
	color: #fff;
	border-radius: 10px;
	height: 400px;
	margin-bottom: 50px;
	overflow: auto;
}
.compose-receipient {
	margin: 0px auto;
	max-width: 80% !important;
}
/* start Compose Message */
.compose-text {
	margin: 0px auto;
	max-width: 80% !important;
	min-height: 300px;
	max-height: 300px;
	font-size: 20px;
}
/* end of compose message CSS */

.modal-text {
	color: black;
}

.label-as-badge {
    border-radius: 1em;
}

/* Highlight Color  */
::-moz-selection {
    color: white;
    background: purple;
}

::selection {
    color: white;
    background: purple;
}

.glyphicon .glyphicon-home {
	font-size: 45px;
}